.tableCont
{
    border-bottom: 1px solid rgb(151, 151, 151);
    /* border-right: 1px solid rgb(151, 151, 151);
    border-left: 1px solid rgb(151, 151, 151); */
    box-shadow: 3px 8px 19px 0px #a9a6a6;
    border-radius:10px;
    margin-top:10px;   
    padding: 0%;
    max-height: 85vh;
    overflow-x: scroll;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: white;

}
table, th, td {
    border: 1px solid rgb(223, 223, 223);
    border-collapse: collapse;
  }
@media only screen and (max-width: 600px) {
    .tableCont
    {
        width: 95%;
    }
  }

 th
{
   font-weight: normal;
} 
