.categorybar
{
    height: 50px;
    background-color: #f8f8f8;
    margin-bottom: 1px;
    display: grid;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius:10px;
    box-shadow: 3px 8px 19px 0px #a9a6a6;
    margin-bottom: 10px;
    align-content: center;
    
}
.categorybarTabs
{
    width:100%;
    text-align: start;
}
.categorybarTabs button
{
    margin-right:5px;
    margin-left:10px;
    
}
@media only screen and (max-width: 600px) {
    .categorybar {
        width: 100%;
        
    }
  }