.categorybar
{
    height: 50px;
    background-color: #d9d8d8;
    margin-bottom: 1px;
    display: grid;
    width: 100%;
    padding: 10px;
    border-radius:10px;
    align-content: center;
    
}
.categorybarTabs
{
    width:100%;
    text-align: start;
}
.categorybarTabs button
{
    margin-right:5px;
    margin-left:10px;
    
}