@keyframes move_anim {
    0% {left:0% ; right:100%}
    100% {left:100%; right:0%;}


}
.footer_cont
{
    width: 100%;
    height: fit-content;
    position: absolute;
    bottom: 0;
}
.footer_icon
{
    width: 100%;
    height: fit-content;
    text-align: left;
}
.footer_cont img
{
    width: 15%;
    height: auto;
    position: relative;
    animation: move_anim 5s 2;
    animation-iteration-count: infinite;
    /* animation-direction: alternate; */
}
@media only screen and (max-width: 600px) {
    .footer_cont img {
      width: 30%;
    }
  }